@import './base/reset.css';
@import './base/variables.css';
@import './base/typography.css';
@import './base/utilities.css';

@import './components/button.css';
@import './components/form.css';
@import './components/card.css';
@import './components/table.css';
@import './components/badge.css';
@import './components/modal.css';
@import './components/dropdown.css';
@import './components/toast.css';
@import './components/language-switcher.css';
@import './components/table-advanced.css';

@import './pages/layout.css';
